{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "targets": {
          "node": true
        }
      }
    ],
    "@babel/preset-typescript"
  ],
  "plugins": [
    "@babel/plugin-syntax-import-attributes",
    "@babel/plugin-transform-class-properties",
    "@babel/plugin-transform-runtime"
  ],
  "sourceMaps": "inline"
}
